canvas
{
animation-name: filter;
animation-duration: 2s;
animation-iteration-count: infinite;

}

@keyframes filter{
    from{box-shadow: 5px,5px,18px aqua;}
    to{box-shadow: 5px,5px,18px pink;}

    }

.btn-success:hover{
    background-color: rgb(205, 50, 50);
}    